/* Homepage CSS */

.homepage {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepageContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem
}

.emotionInput {
  width: 100%;
}

.emotionInput:hover {
  border-color: white;
}

.emotionTextInputMotion {
  width: 80%;
  min-height: fit-content;  
}

.emotionSuggestionstMotion {
  width: 100%;
  display: flex;
  justify-content: center;

  @media (min-width: 1440px) {
    width: 70%;
  }

  @media (min-width: 2000px) {
    width: 60%;
  }
}


