/* Header CSS */

.header {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 10%,  rgba(0, 0, 0, 0.6) 65%, transparent 100%);
  border: none;
}

@media (min-width: 50em) {
  .header {
    background: transparent;
  }
}

.headerWrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.headerNavLink {
    cursor: pointer;
    transition: all 0.8s ease;
}

.headerNavLink:hover {
  color: white;
  transition: all 0.8s ease;
  text-decoration: underline;
}